@import './../../services/globalStyles/colors.less';

.main {
    margin-bottom: 100px;
}

.popular-text,
.new-text {
    color: @white;
    padding: 60px 60px 35px;
    font-size: 36px;
    font-weight: bold;
}

.home-search {
    margin: 40px 60px 10px;
    padding: clamp(5px, 3vw ,52px) clamp(5px, 3vw, 50px);
    background-color: #252C38;
    border-radius: 8px;
}

@media screen and (max-width: 720px) {
    .popular-text,
    .new-text {
        text-align: center;
        font-size: 25px;
        padding: 30px 20px 15px;
    }

    .main {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 500px) {
    .home-search {
        margin: 40px 20px 10px;

    }
}