@import './../../services/globalStyles/colors.less';

.search-filter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    min-height: 180px;
    padding: 20px;
    margin: 27px 60px;
    background-color: @grey2;
    border-radius: 8px;
    .filters-block {
        background-color: @grey2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .filters {
            flex: 5;
            display: flex;
            flex-wrap: wrap;
            .ant-select-selection-item {
                font-size: 16px!important;
            }
            input, .ant-select-selector {
                padding-left: 20px;
            }
            .selectors {
                min-width: 150px;
                color: @white;
                font-weight: bold;
                .option {
                    color: @white!important;
                }
            }
            .date {
                border: 1px solid @grey3;
                border-radius: 8px;
                border-color: @white;
                background-color: @grey3;
                color: @white;
                font-weight: bold;
                border-color: @grey9;
                height: 40px;
                align-items: center;
            }
            &> div {
                flex: 1;
                margin: 6px;
                background-color: @grey2;
            }
            .ant-select-arrow {
                color: @white;
            }
            .ant-picker-suffix, .ant-picker-separator, .ant-picker-input input {
                color: @white!important;
            }
        }
        button {
            margin: 6px;
            margin-right: 0;
            background-color: @grey2;
        }
        .clear-btn-block {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .clear-button {
            border-radius: 8px;
            background-color: @grey3;
            border-color: @red;
            color: @white;
            font-weight: bold;
            height: 40px;
            margin-right: 0;
            width: 250px;
            min-width: 150px;
            flex: 1;
            &:focus {
                color: @white;
                background-color: transparent;
                border-color: @dark-red;
            }
            &:hover {
                background-color: @dark-red;
                border-color: @dark-red;
                color: @white;
            }
            span {
                font-size: 18px;
            }  
        }
        button:hover {            
            background-color: @dark-red!important;
            border-color: @dark-red;
            color: @white;
        }
    }
}

.ant-select-selector {
    background-color: @grey3 !important;
    color: @white;
    font-weight: bold;
    border-color: @grey9 !important;
    border-radius: 8px !important;
    height: 56px!important;
    align-items: center;
}

.ant-picker-range, .clear-button {
    height: 56px!important;
}

.ant-select-arrow, .ant-picker-suffix {
    font-style: normal;
    color: @white;
    font-weight: bold;
    font-size: normal;
}

.ant-select-item-option-content {
    color: @white;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: @dark-red!important;
}

@media screen and (max-width:768px ) {
    .search-filter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .date {
            width: 300px;
        }
    }
}

@media screen and (max-width: 727px ) {
    .filters-block button {
        margin-left: 0!important;
    }
}

@media screen and (max-width:450px ) {
    .search-filter {
        margin: 27px 15px;
        .filters {
            display: flex;
            justify-content: center;
            .selectors {
                max-width: 250px;
            }

        }
    }
}
