@import '../../services//globalStyles/colors.less';

.detail-page{
    background-color: @grey3;
    min-height: 90vh;
    width: 100%;
    color: @white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .detail-page-container {
        margin-top: 50px;
        width: 90%;
        .poster-image-and-icon{
            
            .play-icon{
                border-radius: 30px;
                margin-top: 60px;
                width: 100%;
                min-height: 740px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .ant-btn:focus{
                    background-color: transparent!important;
                }
            }      
        } 
        
        .login {
            margin: 30px 0px 10px 0px;
            background-color: @grey3;
            font-size: 1.1em;
            
            span {
                color: @red;
                margin: 0px 5px;
            }
            
            span:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }     
        
        .film-info-container{
            width: 100%;
            display: flex;            
            flex-wrap: wrap;          
            
            .film-info{
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: space-between;
                color: @white;
                font-size: 1.1em;           
                
                        .film-details {
                            background-color: @grey5;
                            border-radius: 10px;
                            font-size: 1.05em;
                            display: flex;
                            padding: 20px;
                            
                            .left-side-details {
                                flex: 1;
                                padding-right: 20px;
                                
                                .film-genres{
                                    display: inline;
                                }
                            }
                            .right-side-details{
                                flex: 1;
                                
                                .home-page{
                                    width: 90%;
                                    color: @white;
                                    margin-left: 7px;
                                    font-size: 0.75em;
                                }
                            }
                        }
                        
                        .rate-and-title{
                            display: flex;
                            align-items: center;
                            color: @white;
                            justify-content: space-between;
                            padding-right: 30px;
                            
                            .film-overview{
                                font-size: 1.25em;
                            }                            
                        }
                    }
                    
                    .film-image{
                        width: 300px;
                        height: auto;
                        margin-right: 70px;
                    }
                    
                    img {
                        width: 100%;
                        height: auto;
                        display: flex;
                        border-radius: 20px;
                    }                    
                }
            }            
            
            .ant-typography {
                color: @white;
                margin: 5px;
            }
            
            .anticon {
                color: @white;
            }
            
            .anticon-play-circle svg {
                font-size: 3.8em;
                transition: 0.5s;
            }
            
            .anticon-play-circle svg:hover {
                transform: scale(1.08);
            }
        }
        
        .posterContainer {
            height: auto;
            display: flex;
        }
        
        .posterImage {
            display: flex;
            height: auto;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        
        ul.ant-rate svg {
            color: none;
            font-size: 1.2em;
            font-weight: 100;
            color:@red;   
        }  
            
            @media screen and (max-width: 1160px) {

                ul.ant-rate {
                    display: flex;
                    flex-wrap: nowrap;
                    svg {
                           font-size: 0.95em;
                       }    
                }
          
                .login {
                font-size: 0.9em;
                padding:0;  
                margin: 5px;  
            }            

            .detail-page-container {
               
                .film-info-container{
                    padding-right: 10px;
                    font-size: 0.95em;
                    
                    .film-info{
    
                        .rate-and-title{
                            display: flex;
                            flex-wrap: wrap;
                        }
                        
                        .film-details{
                            font-size: 0.8em;
                            
                            .left-side-details,
                            .right-side-details{
                                font-size: 0.8em;
                         }
                    }
                }   
                .poster-image-and-icon{
                    .play-icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                } 
            }           
    }
}

@media screen and (max-width: 880px) {
    .film-image {
        margin: 0 auto !important;    
    }

    .film-info-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin: 0;
        padding: 0;
        }

    .rate-and-title{
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
    }
    .film-details {
        display: flex;
        flex-direction: row;
        align-items:start;
        padding:0;
        background-color: @white;
        margin:10px;

        .right-side-details{
            margin: 0;
        }
        .left-side-details{
            margin: 0;
        }
    }
}
@media screen and (max-width: 580px) {
    .film-details {
        flex-direction: column;
    }
    .detail-page-container {
               
        .poster-image-and-icon{
            .play-icon{
                width: 340px;
                min-height: 340px;
            }
        } 
    }
}
