@import './../../services/globalStyles/colors.less';

.films {
    margin-bottom: 20px;
    flex: 1 0 auto;
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        .film-link {
            position: relative;
            height: 440px;
            min-width: 295px;
            overflow-y: hidden;
            margin: 80px 38px 0;
            border-radius: 8px;
            a {
                text-decoration: none;
                cursor: pointer;
                position: relative;
                &:visited {
                    text-decoration: none;
                }
            }
            .poster {
                height: 440px;
                width: 295px;
                border-radius: 8px;
                background-size: cover;
                .film-card {
                    height: 440px;
                    width: 295px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    position: absolute;
                    left: 0;
                    top: 0;
                    cursor: pointer;
                    transition: .3s;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid @black;
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 95%);
                    border-radius: 8px;
                    &:hover {
                        border: 1px solid @red;
                        border-radius: 8px;
                    }
                    .poster-info {
                        width: 100%;
                        color: @white;
                        margin: auto 24px 24px 24px;
                        font-size: 17px;
                        line-height: 18px;
                        .genre {
                            background-color: @genresBG;
                            display: inline-block;
                            padding: 4px 8px;
                            margin: 0 5px 5px 0;
                            border-radius: 0 8px;
                            font-size: 14px;
                            color: @blue;
                        }
                        .rate-and-title {
                            display: block;
                            padding: 4px 8px;
                            border-radius: 8px;
                            font-size: 14px;
                            color: @white;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }
                }
            }
        }
    }
    .title {
        margin-top: 14px;
    }
    .no-data {
        min-height: 90vh;
        display: flex;
        align-items: center;
        color: @white;
    }
}



