.ant-layout {
  max-height: 100px !important;
}
.header {
  background-color: #252C38 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px !important;
  padding: 40px;
  justify-content: space-between;
  position: relative;
}
.header .logo {
  color: #FFFFFF;
  font-size: 36px;
  min-width: 140px;
  text-decoration: none;
}
.header .logo:hover {
  color: #FFFFFF;
}
.header .logo a {
  color: #FFFFFF;
}
.header .fa-bars,
.header .fa-times {
  font-size: 24px;
  cursor: pointer;
  color: #FFFFFF;
}
.header-menu-mob {
  align-items: center;
  display: none;
}
.header .menu-pc {
  display: flex;
  width: 88%;
  justify-content: space-between;
}
.header .menu-mob {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .menu-nav-wrapper {
  min-width: 400px;
  display: flex;
}
.header .navlink-item {
  position: relative;
}
.header .navlink-item .deactive-navlink {
  font-size: 24px;
  margin: 20px;
  color: #FFFFFF;
}
.header .navlink-item .deactive-navlink:hover {
  color: #F9484B;
}
.header .navlink-item .active-navlink {
  font-size: 24px;
  margin: 20px;
  color: #F9484B;
}
.header .navlink-item .active-navlink:hover {
  color: #F9484B;
}
.header .navlink-item .line-home {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 20px;
  width: 70px;
  height: 2px;
  background-color: #F9484B;
}
.header .navlink-item .line-movies {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 20px;
  width: 80px;
  height: 2px;
  background-color: #F9484B;
}
.header .buttons {
  display: flex;
  align-items: center;
}
.header .buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .buttons > button:last-child {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #F9484B;
  color: #FFFFFF;
}
.header .buttons > button:last-child:hover {
  background-color: #F9484B;
}
.header .buttons > button:first-child {
  border-radius: 8px;
  border: 2px solid #F9484B;
  color: #FFFFFF;
  background-color: transparent;
}
.header .buttons > button:first-child:hover {
  background-color: #F9484B;
}
.header .buttons .sign-in {
  margin-right: 8px;
  padding: 2px;
  width: 100px !important;
  height: 45px !important;
}
.header .buttons .sign-in:focus,
.header .buttons .sign-in:hover {
  background-color: #F9484B;
  color: white;
}
.header .exit-wrapper {
  margin: 0 auto;
  margin-right: 0;
  text-align: center;
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.header .user-image {
  width: 50px;
  height: 70px;
}
.ant-btn:focus {
  background-color: #F9484B !important;
  color: #FFFFFF;
  border-color: transparent;
}
.absolute-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.exit-wrapper-mob {
  display: none;
}
@media screen and (max-width: 1270px) {
  .menu-pc {
    width: 78%;
  }
}
@media screen and (max-width: 960px) {
  .absolute-bg {
    display: none;
  }
  .sign-in {
    margin-left: 8px;
  }
  .header .menu-mob {
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 91vh;
  }
  .header .menu-pc {
    display: none;
  }
  .header-menu-mob {
    display: flex;
    align-items: center;
  }
  .ant-menu {
    margin-left: 0px !important;
  }
  .exit-wrapper {
    margin: 0 auto;
    display: none;
  }
  .menu-nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .buttons > button:last-child {
    margin-top: 20px;
  }
  .line-movies,
  .line-home {
    display: none;
  }
  .exit-wrapper-mob {
    list-style-type: none;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 40px;
    color: #fff;
  }
  .exit-wrapper-mob .log-out-link {
    color: #F9484B;
    font-size: 24px;
  }
  .exit-wrapper-mob .user-name {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .search-input {
    width: 200px;
  }
}
