@import '../../services/globalStyles/colors.less';
.ant-layout {
    max-height: 100px !important;
}
    .header {
        background-color: @grey2 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px !important;
        padding: 40px;
        justify-content: space-between;
        position: relative;
        .logo {
            color: @white;
            font-size: 36px;
            min-width: 140px;
            text-decoration: none;               
            &:hover {
                color: @white;
            }
            a {
                color: @white;
            }
        }             
        .fa {
            &-bars, &-times {
                font-size: 24px;
                cursor: pointer;
                color: @white;
            }
        } 
        &-menu-mob {
            align-items: center;
            display: none;
        }
        .menu {
            &-pc {
                display: flex;
                width: 88%;
                justify-content: space-between;
            }
            &-mob {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            &-nav-wrapper {
                min-width: 400px;
                display: flex;   
            }
        }
        .navlink-item {
            position: relative;
            .deactive-navlink {
                font-size: 24px;
                margin: 20px;
                color: @white;
                &:hover {
                    color: @red;
                }
            }
            .active-navlink {
                    font-size: 24px;
                    margin: 20px;
                    color: @red;
                    &:hover {
                        color: @red;
                    }
            }
            .line-home {
                content: "";
                position: absolute;
                bottom: -17px;
                left: 20px;
                width: 70px;
                height: 2px;
                background-color: @red;
            }
            .line-movies {
                content: "";
                position: absolute;
                bottom: -17px;
                left: 20px;
                width: 80px;
                height: 2px;
                background-color: @red;
            }
        }
    
        .buttons {
            display: flex;
            align-items: center;
            &> button {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                &:last-child {
                    background-color: transparent;
                    border-radius: 8px;
                    border: 2px solid @red;
                    color: @white;
                    &:hover {
                        background-color: @red;
                    }
                }         
                &:first-child {
                    border-radius: 8px;
                    border: 2px solid @red;
                    color: @white;
                    background-color: transparent;
                    &:hover {
                        background-color: @red;
                    }
                }  
            } 
            .sign-in {
                margin-right: 8px;
                padding: 2px;
                width: 100px !important;
                height: 45px !important;
                &:focus, &:hover{
                    background-color: @red;
                    color: white;
                }
            }
        }      

        .exit-wrapper {
            margin: 0 auto;
            margin-right: 0;
            text-align: center;
            background-color: transparent;
            border-radius: 20px;
            cursor: pointer;
            position: relative;
        }  
        .user-image {
            width: 50px;
            height: 70px;
        }  
    } 

.ant-btn:focus {
    background-color: @red !important;
    color: @white;
    border-color: transparent;
}

.absolute-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.exit-wrapper-mob {
    display: none;
}

@media screen and (max-width: 1270px) {
    .menu-pc {
        width: 78%;
    }
}

@media screen and (max-width: 960px) {
    .absolute-bg {
        display: none;
    }
    .sign-in {
        margin-left: 8px;
    }
    .header .menu {
        &-mob {
            z-index: 100;
            position: absolute;
            top: 100px;
            left: 0px;
            background-color: @black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 91vh;
        }
        &-pc {
            display: none;
        }
    }
    .header-menu-mob {
        display: flex;
        align-items: center;
    }
    .ant-menu {
        margin-left: 0px !important;
    }
    .exit-wrapper {
        margin: 0 auto;
        display: none;
    }
    .menu-nav-wrapper {
        // width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .buttons {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        &> button:last-child {
            margin-top: 20px;
        }
    }
    .line-movies, .line-home {
        display: none;
    }
    .exit-wrapper-mob {
        list-style-type: none;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 0 40px;
        color: #fff;
        .log-out-link {
            color: @red;
            font-size: 24px;
        }
        .user-name {
            font-size: 24px;
        }
    }
} 

@media screen and (max-width: 600px) {
    .search-input {
        width: 200px;
    }
}