@import '../../services/globalStyles/colors.less';

.user-info {
    position: absolute;
    top: 90px;
    right: 10px;
    z-index: 100;
    border-radius: 8px;
    width: 180px;
    border-radius: 8px;
    border: 1px solid @grey6;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .user-name {
        position: absolute;
        left: 0;
        background-color: @grey7;
        border-radius: 8px 8px 0 0;
        color: #fff;
        width: 180px;
        cursor: auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .user-icon {
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }
    }
    .log-out {
        position: absolute;
        left: 0;
        top: 50px;
        width: 180px;
        background-color: @grey8;
        border-radius: 0 0 8px 8px;
        font-weight: bold;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .log-out-link {
        background-color: @grey8 !important;
        color: @red;
        }
        .log-out-link:hover {
        color: @red;
        } 
    } 
}

.user-info-none {
    display: none;
}

@media screen and (max-width: 960px) {
    .user-info {
        display: none;   
    }
}