@grey1: #2E3642;
@grey2: #252C38;
@grey3: #1C232D;
@grey4: #19202A;
@grey5:#202733;
@grey6: #3E444F;
@grey7: #282F3B;
@grey8: #232A36;
@grey9: #383F4C;
@red: #F9484B;
@dark-red: #C9393B;
@white: #FFFFFF;
@black: #000000;
@blue: #0FEFFD;
@genresBG: #1D1D1D90;