@import './../../services/globalStyles/colors.less';

.list-btn {
    display: flex;
    justify-content: center;
    .show-more {
        width: 250px;
        height: 56px;
        font-size: 18px;
        font-weight: bold;
        margin: 35px;
        padding: 10px 50px;
        color: @white;
        cursor: pointer;
        border-radius: 8px;
        outline: none; 
        background: none;
        border: @red solid 2px;
        letter-spacing: 0.1em;
        &:hover {
            background-color: @red;
        }
    }
}
.hide-load-more  {
    display: none!important;
} 