@import './../../services/globalStyles/colors.less';

footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @grey2;
    color: @white;
    font-size: 24px;
    font-weight: bold;
    flex: 0 0 auto;
}

@media screen and (max-width: 720px) {
    footer {
        height: 60px;
        font-size: 16px;
    }
}