@import './../../services/globalStyles/colors.less';

.search-components {
    display: flex;
    justify-content: space-between;
    background-color: @grey2;
    flex-wrap: wrap;
    margin-left: 6px;
    .search-block {
        flex: 5;
        margin-right: 15px;
        .search {
            height: 56px;
            border-radius: 8px;
            color: @white;
            background-color: @grey3;
            border-color: @grey9;
        }
        input {
            padding-left: 20px;
        }
    }
    .search-button {
        flex: 1;
        width: 250px;
        min-width: 150px;
        border-radius: 8px;
        background-color: @red;
        border-color: @red!important ;
        height: 56px;
        color: @white;
        font-weight: bold;
        &:focus, &:hover {
            color: @white;
            background-color: @dark-red;
            border-color: @dark-red!important ;
        }
        span {
            font-size: 24px;
        }
    }
    .search-btn-block {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 780px ) {
    .search-components {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-bottom: 15px;
        .search-block {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}