@import './../../services/globalStyles/colors.less';

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    border: 1px solid @grey1;
    -webkit-text-fill-color: @white;
    box-shadow: 0 0 0 17px @grey4 inset;
}

.registration {
    &-title {
        margin: 0 auto;
        color: @white !important;
        text-align: center !important;
        font-weight: bold !important;
    }
    .button-toggle {
        width: 48%;
        color: @white;
        font-weight: bold;
        font-size: 12px;
        border-radius: 8px;
        text-transform: uppercase;
        background-color: @grey1;
        border: 2px solid transparent;
    }
    .button-toggle-active {
        width: 48%;
        color: @white;
        font-weight: bold;
        font-size: 12px;
        border-radius: 8px;
        text-transform: uppercase;
        background-color: @red;
        border: 2px solid transparent;
    }
    .login-wrapper, .password-wrapper {
        position: relative;
        margin-top: 45px;
    }
    .modal-buttons {
        display: flex;
        justify-content: space-between;
    }
    &-inputs {
        background-color: @grey4;
        border: 1px solid @grey1;
        border-radius: 8px;
        color: @white;
        &:focus {
            border-color: @red;
        }
    }
    .primary-sign-in {
        text-transform: uppercase;
        width: 100%;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        border-radius: 8px;
        background-color: @red;
        border: 1px solid transparent;
        margin: 15px 0;
    } 
    .login-title, .password-title {
        position: absolute;
        top: -20px;
        left: 5px;
        font-size: 12px !important;
        color: #8392AE !important;
    }
    .sign-in-button, .sign-up-button, .primary-sign-in {.ant-form-item-control-input-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        &:not(:active):hover {
            background-color: @red;
            color: @white;
            border-color: @red;
        }
    }
    .sign-in-sign-up-buttons {
        width: 100%;
        background-color: #FF4A3E !important;
        border-color: #FF4A3E !important;
    }
}

.ant {
    &-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        &-content {
            border-radius: 10px;
            position: relative;
        }
        &-wrap {
            display: flex;
        }
        &-title {
            color: #fff;
            text-align: center;
            font-weight: bold;
        }
        &-close-x {
            color: #fff;
            position: absolute;
            top: 14px;
            right: 0px;
        }
        &-footer, &-header {
            display: none;
        }
        &-content, &-header {
            width: 300px;
            background-color: #1C232D;
            border-radius: 10px 10px 0 0;
        }
    }
    &-form-item-control-input-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-input-password-icon {
        color: #fff;
    }
    &-input-password-icon:hover {
        color: #fff;
    }
    &-input-password-icon::selection {
        color: #FF4A3E !important;
    }
}

.ant-input {
    color: white !important;
    background-color: @grey4 !important;
}

.ant-input-affix-wrapper:focus {
    border-color: 1px solid red !important;
}

.ant-input-password:focus {
    border-color: 1px solid red !important;
}

.registration-inputs:focus-within {
    border-color: 1px solid red !important;
}

.input-password:focus, .input-password:active,
 .ant-form-item-control-input-content:focus,
 .ant-form-item-control-input-content:active {
    border-color: 1px solid red !important;
}

.ant-input-affix-wrapper-focused:focus {
    border-color: 1px solid red !important;
}

.ant-input:focus {
    border-color: red !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus {
    border-color: red !important;
}

.ant-input-password::selection {
    border-color: red !important;
}

.ant-input-affix-wrapper::selection {
    border-color: 1px solid red !important;
}

.input-password::selection {
    border-color: 1px solid red !important;
}

.ant-input-affix-wrapper-focused::selection {
    border-color: 1px solid red !important;
}

.input-password::selection {
    border-color: 1px solid red !important;
}