@import '../../services/globalStyles/colors.less';

.comments-container{
    width:100%;
    background-color:@grey5;
    min-height: 100px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    padding-left:70px;
    flex-wrap: wrap;
    border-radius: 20px;   
    font-size: 1.2em;
    
    &:hover{
        transform: scale(1.01);
        cursor: pointer;
    }
    
.anticon-user{
    height: 100px !important;
    width: 50px !important;
    font-size: 54px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 50px;
    }
    
.anticon{
    font-size:50px;
    z-index:1;
    } 
}

@media screen and (max-width: 1350px) {

    .comments-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding:8px;  
        min-height: 50px;
        font-size: 0.85em;

        .anticon-user{
            font-size:40px;
            padding:0;  
            margin: 0; 
            height: 50px!important;            
         }
    }    
} 

    @media screen and (max-width: 880px) {
        .commentsContainer{
        padding: 0 20px;
        font-size: 0.65em;
        }
    }
    