.notification-wrapper {
    position: absolute;
    margin: 0 auto;
    top: 100px;
    right: 50px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 600px;
    min-height: 20px;
    padding: 5px;
    border-radius: 10px;
    z-index: 1001;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notification-message {
    margin: 5px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 18px;
}