.random-carousel {
    margin: 0 60px;
    padding-top: 52px;
    button {
        width: 16px!important;
        height: 16px!important;
        border-radius: 50%!important;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        position: relative;
        max-height: 518px;
        &:visited {
            text-decoration: none;
        }
        .poster-container {
            max-height: 718px;
            border-radius: 50px;
            overflow: hidden;
            .poster {
                width: 100%;
                max-height: 1080px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .poster-container {
        border-radius: 30px;
    }
}

@media screen and (max-width: 500px) {
    .poster-container {
        border-radius: 15px;
     }

    .random-carousel {
        margin: 0 20px;
    }    
}