@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

#root {
  background-color: #1C232D;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}