@import './../../services/globalStyles/colors.less';

.carousel {
    margin: 0 60px; 

    .slick-arrow {
        z-index: 10;
        svg {
            font-size: 28px;
            color: @white;
        }
    }
    .slick-prev {
        left: -12px!important;
    } 
    .slick-next {
        right: -3px!important;
    }
    .film-link {
        display: flex!important;
        justify-content: center;
        position: relative;
        height: 440px;
        min-width: 295px;
        overflow-y: hidden;
        border-radius: 8px;
        .poster {
            height: 440px;
            width: 295px;
            border-radius: 8px;
            background-size: cover;
            .film-card {
                height: 440px;
                width: 295px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
                transition: .3s;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid @black;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 95%);
                border-radius: 8px;
                &:hover {
                    border: 1px solid @red;
                }
                .poster-info {
                    width: 100%;
                    color: @white;
                    margin: auto 24px 12px 24px;
                    font-size: 17px;
                    line-height: 18px;
                    .genre {
                        background-color: @genresBG;
                        display: inline-block;
                        padding: 4px 8px;
                        margin: 0 5px 5px 0;
                        border-radius: 0 8px;
                        font-size: 14px;
                        color: @blue;
                    }
                    .title {
                        display: block;
                        padding: 4px 8px;
                        border-radius: 8px;
                        font-size: 14px;
                        color: @white;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
        }
        a {
            text-decoration: none;
            cursor: pointer;
            position: relative;
            &:visited {
                text-decoration: none;
            }
        }
    }  
}

@media screen and (max-width: 720px) {
    .carousel > div {
        width: 295px;
     }
    .carousel {
        display: flex;
        justify-content: center;
    }
}